<%= simple_form_for [:admins, @link], :html => { :class => 'form-horizontal' } do |f| %>
	<%= f.error_notification %>
	<div class="form-body">
		<%= f.input :name %>
		<%= f.input :caption %>
		<%= f.input :url %>
		<div class="form-actions">
			<div class="row">
				<div class="offset-md-3 col-md-9">
					<%= f.button :submit, :class => 'btn btn-primary' %>
					<% unless @link.new_record? %>
					<%= link_to "Cancel", admins_link_path(@link), :class => 'btn' %>
					<% else %>
					<%= link_to "Cancel", admins_links_path, :class => 'btn' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>
