<p><small><%= "Display total #{@links.count} links" %></small></p>

<table class="table display product-overview mb-30">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Caption</th>
      <th>URL</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for link in @links %>
      <tr>
				<td><%= link.id %></td>
				<td><strong><%= link_to link.name, admins_link_path(link) %></strong></td>
				<td><%= link.caption %></td>
				<td><%= link_to link.url, link.url %></td>
        <td class="actions">
					<%= link_to admins_link_path(link), "data-toggle" => "tooltip", :title => "Edit" do %>
						<i class="fa fa-pencil"></i>
					<% end %>
          <%= link_to admins_link_path(link), :confirm => 'Are you sure?', :method => :delete, :class => 'text-inverse' do %>
						<i class="fa fa-trash"></i>
					<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @links %>
