<div class="page-bar">
	<div class="page-title-breadcrumb">
		<div class=" pull-left">
			<div class="page-title">Link details</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="card card-box">
			<div class="card-body ">
				<div class="form-horizontal">
					<div class="form-body">
						<div class="form-group row">
							<label class="control-label col-md-3">ID</label>
							<div class="col-md-5">
								<%= @link.id %>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-md-3">Name</label>
							<div class="col-md-5">
								<%= @link.name %>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-md-3">Caption</label>
							<div class="col-md-5">
								<%= @link.caption %>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-md-3">URL</label>
							<div class="col-md-5">
								<%= link_to @link.url, @link.url %>
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="offset-md-3 col-md-9">
									<%= link_to 'Edit', edit_admins_link_path(@link), :class => 'btn btn-warning' %>
									<%= link_to 'Destroy', admins_link_path(@link), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger' %>
									<%= link_to 'View All', admins_links_path, :class => 'btn' %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
