<!-- Start Portfolio Details -->
<div class="brook-portfolio-details pt--130 pb--50 bg_color--1">
		<div class="container">
				<div class="row pt--100">

						<!-- Portfolio Left -->
						<div class="col-lg-4 col-12">
								<div class="portfolio-left bk-portfolio-details">
										<div class="portfolio-main-info">
											<h3 class="heading heading-h3 line-height-1-42"><%= @horse.name %></h3>
												<div class="portfolio-content mt--75 mb--75 mt_md--40 mb_md--40 mt_sm--40 mb_sm--40">
														<h6 class="heading heading-h6">ABOUT THE HORSE</h6>
														<div class="desc mt--20">
															<p class="bk_pra">
															<%= raw @horse.description %>
															</p>
														</div>
												</div>
												<!-- Start Details List -->
												<div class="portfolio-details-list">

														<div class="details-list">
																<label>Category</label>
																<span><%= @horse.category.name %></span>
														</div>

														<div class="details-list">
																<label>Breed</label>
																<span><%= @horse.breed %></span>
														</div>

														<div class="details-list">
																<label>Sex</label>
																<span><%= @horse.sex %></span>
														</div>

														<div class="details-list">
																<label>Year</label>
																<span><%= @horse.year %></span>
														</div>

														<div class="details-list">
																<label>Color</label>
																<span><%= @horse.color %></span>
														</div>
												</div>
												<!-- End Details List -->
										</div>
								</div>
						</div>

						<!-- Portfolio Right -->
						<div class="col-lg-8 col-12 mt_md--40 mt_sm--40 pl--100 pl_md--15 pl_sm--15 pr_md--15 pr_sm--15">
								<div class="portfolio-right portfolio-details-gallery text-center text-md-right">

									<% @horse.images.each do |image| %>
										<!-- Start Portfolio Image -->
										<div class="portfolio-image mb--50">
											<img class="w-100" src="<%= url_for(image) %>">
										</div>
										<!-- End Portfolio Image -->
									<% end %>

								</div>
						</div>

				</div>
		</div>

		<div class="container bg_color--1">
				<div class="row">
						<div class="col-lg-12">
								<!-- Portfolio Nav List -->
								<div class="portfolio-nav-list pt--50 pb--50 pb_md--80 pb_sm--60 pt_md--5 pt_sm--5">
										<div class="portfolio-page prev">
												<div class="inner">
														<a href="<%= horses_path %>">
																<p>Back to</p>
																<h3 class="heading heading-h3">Our <br> Horses</h3>
														</a>
												</div>
										</div>
										<div class="portfolio-page next mt_sm--30">
												<div class="inner">
												</div>
										</div>
								</div>
								<!-- Portfolio Nav List -->
						</div>
				</div>
		</div>
</div>
<!-- End Portfolio Details -->
