<div class="brook-pricing-table-area pt--150 pt_md--80 pt_sm--150 bg_color--1">
		<div class="container">
				<!-- Start Choose Area -->
				<div class="choose-us-area">
						<%= flash_message %>
						<div class="row">
								<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="choose-plan-area">
												<h3 class="heading heading-h3">Book Your Riding Experience With APM</h3>
												<div class="desc mt--25">
													<p class="bk_pra">
														Discover the joy of riding horse. Whether you are already competing at licensed competitions, just beginning to take lessons, or anywhere in between, we have a membership for you!
													</p>
												</div>
										</div>
								</div>
								<div class="col-lg-4 offset-lg-1 col-md-6 col-sm-6 col-12 mt_mobile--40">
										<div class="plans-about">
												<h6 class="heading heading-h6 theme-color">What we offer?</h6>
												<div class="desc mt--25">
														<p class="bk_pra">We offer competitive rates and amazing pricing plans to help
																you find one that fits your needs and budget. If you are unsure which
																plan to choose, don’t worry, contact our customer support and we will respond to you immediately.</p>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>

<!-- Start Pricing Plans -->
<div class="pricing-plans bg_color--1 pt--50 pb--150">
		<div class="container">
				<div class="row mt--40">
						<div class="col-md-6">
							<!-- Cart Table -->
							<div class="ht-pricing-list-view table-responsive">
									<table class="table">
											<thead>
													<tr class="title black">
															<th colspan="3" class="pricing-header">
																<span class="heading-h4">Non-Member</span>
															</th>
													</tr>
													<tr>
															<th class="pricing-header">
																<span class="heading-h4">Non-Member <br>Lesson</span>
															</th>
															<th class="pricing-header">
																<span class="heading-h4">Weekend</span>
															</th>
															<th class="pricing-header">
																<span class="heading-h4">Weekday</span>
															</th>
													</tr>
											</thead>
											<tbody>
													<tr>
															<td class="price-list">
																	<ul>
																			<li><span>Trial Ride (only for the first visit with Assistant Trainer)</span></li>
																			<li><span>Introductory Ride for Visitor with Chief Trainer</span></li>
																			<li><span>Introductory Ride for Visitor with Senior Trainer</span></li>
																			<li><span>Introductory Ride for Visitor with Assistant Trainer</span></li>
																			<li><span>Pony Ride</span></li>
																			<li><span>Therapeutic Riding</span></li>
																	</ul>
															</td>
															<td class="price-list rupiah">
																	<ul>
																			<li class="bigger"><span>Rp.400.000</span></li>
																			<li class="bigger"><span>Rp.800.000</span></li>
																			<li class="bigger"><span>Rp.600.000</span></li>
																			<li class="bigger"><span>Rp.500.000</span></li>
																			<li><span>Rp.200.000</span></li>
																			<li><span>Call Us</span></li>
																	</ul>
															</td>
															<td class="price-list rupiah">
																	<ul>
																			<li class="bigger"><span>Rp.350.000</span></li>
																			<li class="bigger"><span>Rp.750.000</span></li>
																			<li class="bigger"><span>Rp.550.000</span></li>
																			<li class="bigger"><span>Rp.450.000</span></li>
																			<li><span>Rp.150.000</span></li>
																			<li><span>Call Us</span></li>
																	</ul>
															</td>
													</tr>
											</tbody>
											<thead>
													<tr class="title grey">
															<th colspan="3" class="pricing-header">
																<span class="heading-h4" style="color:#000;font-size:20px;">Non-Member Introduction Package</span><br/>
															  <span class="heading-h3">(A maximum of 12x riding for 2 months only)**</span>
															</th>
													</tr>
											</thead>
											<tbody>
													<tr>
															<td class="price-list">
																	<ul>
																		<li><span>Package Assist by Chief Trainer</span></li>
																		<li><span>Package Assist by Senior Trainer</span></li>
																		<li><span>Package Assist by Assintant Trainer</span></li>
																	</ul>
															</td>
															<td colspan="2" class="price-list rupiah">
																	<ul>
																			<li><span>Rp.7.200.000</span></li>
																			<li><span>Rp.5.400.000</span></li>
																			<li><span>Rp.4.500.000</span></li>
																	</ul>
															</td>
													</tr>
													<tr>
														<td colspan="3">
															<span>** Non-members must ride within the period of 2 months. After 2 months, this package is non-renewable and you may sign up for the membership package.</span>
														</td>
													</tr>
													<tr>
														<td colspan="3" class="text-center">
															<a href="#" class="brook-btn bk-btn-dark btn-sd-size btn-rounded space-between btn-book" data-member="0" data-toggle="modal" data-target="#modalMadeABook" style="margin-top:30px;">Book Now</a>
														</td>
													</tr>
											</tbody>
									</table>
							</div>
						</div>
						<div class="col-md-6">
							<!-- Cart Table -->
							<div class="ht-pricing-list-view table-responsive">
									<table class="table">
											<thead>
													<tr class="title">
															<th colspan="3" class="pricing-header">
																<span class="heading-h4">Member</span>
															</th>
													</tr>
													<tr>
															<th class="pricing-header">
																<span class="heading-h4">Membership <br> Fee</span>
															</th>
															<th class="pricing-header">
																<span class="heading-h4">Yearly</span>
															</th>
															<th class="pricing-header">
																<span class="heading-h4">6 Months</span>
															</th>
													</tr>
											</thead>
											<tbody>
													<tr>
															<td class="price-list">
																	<ul>
																			<li><span>Junior (Under 18 Years Old)</span></li>
																			<li><span>Individual</span></li>
																			<li><span>Family of 4</span></li>
																	</ul>
															</td>
															<td class="price-list rupiah">
																	<ul>
																			<li><span>Rp.4.000.000</span></li>
																			<li><span>Rp.6.000.000</span></li>
																			<li><span>Rp.12.000.000</span></li>
																	</ul>
															</td>
															<td class="price-list rupiah">
																	<ul>
																			<li><span>Rp.2.500.000</span></li>
																			<li><span>Rp.3.500.000</span></li>
																			<li><span>Rp.7.000.000</span></li>
																	</ul>
															</td>
													</tr>
											</tbody>
											<thead>
													<tr>
															<th class="pricing-header">
																<span class="heading-h4">Membership <br>Riding Lesson</span>
															</th>
															<th class="pricing-header">
																<span class="heading-h4">Weekend</span>
															</th>
															<th class="pricing-header">
																<span class="heading-h4">Weekday</span>
															</th>
													</tr>
											</thead>
											<tbody>
													<tr>
															<td class="price-list">
																	<ul>
																			<li><span>Private Lesson with Chief Trainer</span></li>
																			<li><span>Group Lesson with Chief Trainer</span></li>
																			<li><span>Private Lesson with Senior Trainer</span></li>
																			<li><span>Group Lesson with Senior Trainer</span></li>
																			<li><span>Private Lesson with Assistant Trainer</span></li>
																	</ul>
															</td>
															<td class="price-list rupiah">
																	<ul>
																			<li><span>Rp.550.000</span></li>
																			<li><span>Rp.450.000</span></li>
																			<li><span>Rp.400.000</span></li>
																			<li><span>Rp.350.000</span></li>
																			<li><span>Rp.300.000</span></li>
																	</ul>
															</td>
															<td class="price-list rupiah">
																	<ul>
																			<li><span>Rp.500.000</span></li>
																			<li><span>Rp.400.000</span></li>
																			<li><span>Rp.350.000</span></li>
																			<li><span>Rp.300.000</span></li>
																			<li><span>Rp.250.000</span></li>
																	</ul>
															</td>
													</tr>
													<tr>
														<td colspan="3" class="text-center">
															<a href="#" class="brook-btn bk-btn-dark btn-sd-size btn-rounded space-between btn-book" data-member="1" data-toggle="modal" data-target="#modalMadeABook" style="margin-top:30px;">Book Now</a>
														</td>
													</tr>
											</tbody>
									</table>
							</div>
						</div>
				</div>
				<div class="row mt--40">
						<div class="col-md-6">
							<!-- Cart Table -->
							<div class="ht-pricing-list-view table-responsive">
									<table class="table">
											<thead>
													<tr class="title">
															<th colspan="3" class="pricing-header">
																<span class="heading-h4">Stabling &amp; Horse Training</span>
															</th>
													</tr>
													<tr>
															<th class="pricing-header">
																<span class="heading-h4">Stabling <br> Price</span>
															</th>
															<th class="pricing-header">
																<span class="heading-h4">Monthly</span>
															</th>
													</tr>
											</thead>
											<tbody>
													<tr>
															<td class="price-list">
																	<ul>
																			<li><span>Small Horse</span></li>
																			<li><span>Medium Horse</span></li>
																			<li><span>Big Horse</span></li>
																	</ul>
															</td>
															<td class="price-list rupiah">
																	<ul>
																			<li><span>Rp.5.700.000</span></li>
																			<li><span>Rp.7.100.000</span></li>
																			<li><span>Rp.8.550.000</span></li>
																	</ul>
															</td>
													</tr>
											</tbody>
											<thead>
													<tr>
															<th class="pricing-header">
																<span class="heading-h4">Horse Training <br> Package</span>
															</th>
															<th class="pricing-header">
																<span class="heading-h4">Monthly</span>
															</th>
													</tr>
											</thead>
											<tbody>
													<tr>
															<td class="price-list">
																	<ul>
																			<li><span>Full Session (5 times/week)</span></li>
																			<li><span>Half Session (3 times/week)</span></li>
																	</ul>
															</td>
															<td class="price-list rupiah">
																	<ul>
																			<li><span>Rp.6.000.000</span></li>
																			<li><span>Rp.5.000.000</span></li>
																	</ul>
															</td>
													</tr>
											</tbody>
											<thead>
													<tr>
															<th class="pricing-header">
																<span class="heading-h4">Horse Training <br> Non-Package</span>
															</th>
															<th class="pricing-header">
																<span class="heading-h4"></span>
															</th>
													</tr>
											</thead>
											<tbody>
													<tr>
															<td class="price-list">
																	<ul>
																			<li><span>45 Minutes by Chief Trainer</span></li>
																			<li><span>45 Minutes by Senior Trainer</span></li>
																			<li><span>45 Minutes by Assistant Trainer</span></li>
																	</ul>
															</td>
															<td class="price-list rupiah">
																	<ul>
																			<li><span>Rp.400.000</span></li>
																			<li><span>Rp.300.000</span></li>
																			<li><span>Rp.200.000</span></li>
																	</ul>
															</td>
													</tr>
													<tr>
														<td colspan="2" class="text-center">
															<a class="brook-btn bk-btn-dark btn-sd-size btn-rounded space-between" style="margin-top:30px;" href="tel:+62-812-9602-8883">Call Us</a>
														</td>
													</tr>
											</tbody>
									</table>
							</div>
						</div>
				</div>
		</div>
</div>
<!-- End Pricing Plans -->
<!-- modal (Inquiry) -->
<div class="modal fade" id="modalMadeABook" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="contact-form" >
					<%= simple_form_for @booking, as: :booking, url: booking_path, html: { method: :post } do |f| %>
						<div class="row">
							<input type="hidden" name="booking[as_member]" id="booking_as_member">
							<div class="col-lg-12">
								<input name="booking[name]" type="text" placeholder="Name *">
							</div>
							<div class="col-lg-12 mt--30">
								<select name="booking[instructor_id]">
									<option value="">Select Instructor *</option>
									<% @instructors.each do |i| %>
										<option value="<%= i.id %>"><%= i.name %></option>
									<% end %>
								</select>
							</div>
							<div class="col-lg-12 mt--30">
								<input name="booking[dob]" id="booking_dob" type="text" placeholder="Date of Birth *">
							</div>
							<div class="col-lg-12 mt--30">
								<input name="booking[date_lesson]" id="booking_date_lesson" type="text" placeholder="Date Lesson *">
							</div>
							<div class="col-lg-12 mt--30">
								<input name="booking[emergency_contact_name]" type="text" placeholder="Emergency contact name">
							</div>
							<div class="col-lg-12 mt--30">
								<input name="booking[emergency_contact_phone]" type="text" placeholder="Emergency contact phone">
							</div>
							<div class="col-lg-12 mt--30">
								<input type="submit" value="Book Now">
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<%= content_for :tail do %>
	<script>
		jQuery(document).on('ready page:load', function () {
			jQuery('#booking_dob').bootstrapMaterialDatePicker({
				format : 'DD-MM-YYYY',
				time: false,
				clearButton: true
			});
			jQuery('#booking_date_lesson').bootstrapMaterialDatePicker({
				format : 'DD-MM-YYYY HH:mm',
				time: true,
				clearButton: true
			});
		});
		jQuery(document).on("click", ".brook-btn.btn-book", function () {
			 var member = jQuery(this).data('member');
			 jQuery("#modalMadeABook #booking_as_member").val( member );
		});
	</script>
	<style>
	.table.dtp-picker-days {
		font-size: initial;
	}
	</style>
<% end %>
