<!-- Footer -->
<footer class="page-footer bg_color--3 pl--150 pr--150 pl_lp--70 pr_lp--70 pl_lg--70 pr_lg--70 pl_md--50 pr_md--50 pl_sm--30 pr_sm--30">
	<div class="bk-footer-inner pt--90 pb--60 pt_md--90 pt_sm--90 pb_md--30 pb_sm--20">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="footer-widget">
					<div class="logo">
						<%= link_to root_path do %>
							<%= image_tag('logo.png', :style => "width:80%") %>
						<% end %>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6 col-12 mt_md--40 mt_sm--40">
					<div class="footer-widget text-var--2 menu--instagram">
							<h2 class="widgettitle">Instagram</h2>
							<div class="ft-instagram-list">
									<div class="instagram-grid-wrap">
											<!-- Start Single Instagram -->
											<div class="item-grid grid-style--1">
													<div class="thumb">
															<a href="<%= configatron.social_instagram_url %>">
																	<%= image_tag('instagram/insta1.png') %>
															</a>
													</div>
											</div>
											<!-- Start Single Instagram -->

											<!-- Start Single Instagram -->
											<div class="item-grid grid-style--1">
													<div class="thumb">
															<a href="<%= configatron.social_instagram_url %>">
																	<%= image_tag('instagram/insta2.png') %>
															</a>
													</div>
											</div>
											<!-- Start Single Instagram -->

											<!-- Start Single Instagram -->
											<div class="item-grid grid-style--1">
													<div class="thumb">
															<a href="<%= configatron.social_instagram_url %>">
																	<%= image_tag('instagram/insta3.png') %>
															</a>
													</div>
											</div>
											<!-- Start Single Instagram -->

											<!-- Start Single Instagram -->
											<div class="item-grid grid-style--1">
													<div class="thumb">
															<a href="<%= configatron.social_instagram_url %>">
																	<%= image_tag('instagram/insta4.png') %>
															</a>
													</div>
											</div>
											<!-- Start Single Instagram -->

											<!-- Start Single Instagram -->
											<div class="item-grid grid-style--1">
													<div class="thumb">
															<a href="<%= configatron.social_instagram_url %>">
																	<%= image_tag('instagram/insta5.png') %>
															</a>
													</div>
											</div>
											<!-- Start Single Instagram -->

											<!-- Start Single Instagram -->
											<div class="item-grid grid-style--1">
													<div class="thumb">
															<a href="<%= configatron.social_instagram_url %>">
																	<%= image_tag('instagram/insta6.png') %>
															</a>
													</div>
											</div>
											<!-- Start Single Instagram -->
									</div>
							</div>
					</div>
			</div>

			<div class="col-lg-2 offset-lg-1 col-md-6 col-sm-6 col-12 mt_mobile--40">
				<div class="footer-widget menu--about">
					<h2 class="widgettitle">About Us</h2>
					<div class="footer-menu">
						<ul class="ft-menu-list bk-hover">
							<li><a href="<%= root_path %>">Home</a></li>
							<li><a href="<%= about_path %>">About</a></li>
							<li><a href="<%= facilities_path %>">Facilities</a></li>
							<li><a href="<%= services_path %>">Services</a></li>
							<li><a href="<%= horses_path %>">Horses</a></li>
							<li><a href="<%= news_path %>">News & Events</a></li>
							<li><a href="<%= booking_path %>">Book Now</a></li>
							<li><a href="<%= contact_path %>">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 col-12 mt_md--40 mt_sm--40">
				<div class="footer-widget menu--contact">
					<h2 class="widgettitle">Contact</h2>
					<div class="footer-address bk-hover mb--20">
						<p><%= configatron.company_address %></p>
						<p><a href="mailto:<%= configatron.company_email %>"><%= configatron.company_email %></a></p>
						<p><a href="tel:<%= configatron.company_phone %>"><%= configatron.company_phone %></a></p>
					</div>
					<div class="social-share social--transparent text-white">
						<a href="<%= configatron.social_facebook_url %>"><i class="fab fa-facebook"></i></a>
						<a href="<%= configatron.social_instagram_url %>"><i class="fab fa-instagram"></i></a>
						<a href="<%= configatron.social_youtube_url %>"><i class="fab fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Start Copyright Area -->
	<div class="copyright pb--50">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-6 col-sm-12 col-12">
				<div class="copyright-left text-left">
					<ul class="bk-copyright-menu d-flex justify-content-center justify-content-md-start bk-hover">
						<li><a href="<%= privacy_path %>">Privacy Policy</a></li>
						<li><a href="<%= terms_path %>">Terms & Condition</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-12">
				<div class="copyright-right text-center text-md-right">
					<p>© 2019 APM Equestrian Centre. All Rights Reserved. Powered by <a href="https://www.galosolutions.com" target="_blank">Galo Solutions</a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- End Copyright Area -->
</footer>
<!--// Footer -->
