<!-- Start Breadcaump Area -->
<div class="brook-breadcaump-area bg_color--1 ptb--120 breadcaump-title-bar">
		<div class="container-fluid plr--150 plr_md--50 plr_sm--30">
				<div class="row">
						<div class="col-lg-12">
								<div class="breadcaump-inner text-left d-inline-block poss_relative">
									<h1 class="heading heading-h1 large-font-1">
										An Equestrian center <br/>
										and experience always <br/>
										to remember.
									</h1>
								</div>
						</div>
				</div>
		</div>
</div>
<!-- End Breadcaump Area -->

<!-- Start Gallery Area -->
<div class="brook-gallery-area bg_color--1">
		<div class="container-fluid plr--100 plr_sm--50">
				<div class="row">
						<div class="col-lg-12">
								<div class="gallery-wrapper gallery-grid" id="animated-thumbnials">

									<!-- Start Single Gallery -->
									<a class="gallery grid-width-2 " href="<%= image_url('about1.png') %>">
										<div class="thumb">
											<%= image_tag('about1.png') %>
										</div>
									</a>
									<!-- End Single Gallery -->

									<!-- Start Single Gallery -->
									<a class="gallery" href="<%= image_url('about2.png') %>">
										<div class="thumb">
											<%= image_tag('about2.png') %>
										</div>
									</a>
									<!-- End Single Gallery -->

									<!-- Start Single Gallery -->
									<a class="gallery" href="<%= image_url('about3.png') %>">
										<div class="thumb">
											<%= image_tag('about3.png') %>
										</div>
									</a>
									<!-- End Single Gallery -->

									<!-- Start Single Gallery -->
									<a class="gallery grid-width-2" href="<%= image_url('about4.png') %>">
										<div class="thumb">
											<%= image_tag('about4.png') %>
										</div>
									</a>
									<!-- End Single Gallery -->

								</div>
						</div>
				</div>
		</div>
</div>
<!-- End Gallery Area -->

<!-- Start Work area -->
<div class="brook-whatdo-area ptb--100 ptb-md--80 ptb-sm--60 bg_color--1">
		<div class="container">
				<div class="row">
						<div class="col-lg-12">
								<div class="bk-title--default text-left">
										<h5 class="heading heading-h5 theme-color">About Us</h5>
										<div class="bkseparator--30"></div>
										<h3 class="heading heading-h3">APM Equestrian Center</h3>
								</div>
						</div>
				</div>
				<div class="row mt--40 mt_md--20 mt_sm--5">
						<div class="col-xl-2 col-lg-2">
								<div class="what-do mt--40 mt_md--5 mt_sm--5">
										<div class="basic-separator line-3"></div>
								</div>
						</div>
						<div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
								<div class="what-do mt--40">
										<div class="content">
												<h5 class="heading heading-h5 theme-color wow move-up">APM Equestrian Center, established in 2008</h5>
												<div class="bkseparator--20"></div>
												<p class="bk_pra wow move-up">
													The experienced coaches and instructors at APM Equestrian Center  provide lessons according to the ability of the rider. With the focus on safety and quality, we teach the disciplines of jumping and dressage to all levels, from the first time beginner to the advanced show rider. Our lessons are available seven days a week, all year long and are offered as groups, or in private. Groups are kept small to ensure that the instructor has adequate time for each student. Riders must be 5 years or older. Opening hours are 7 am until 17.30 pm weekdays and 7 am until 11.30 pm on weekends. Riding lessons are not available on public holidays.
												</p>
										</div>
								</div>
						</div>
						<div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
								<div class="what-do mt--40">
										<div class="content">
												<h5 class="heading heading-h5 theme-color wow move-up">Location</h5>
												<div class="bkseparator--20"></div>
												<p class="bk_pra wow move-up">
													APM Equestrian Center is located in Tigaraksa, Tangerang-Banten, about 27 kilometers from Balaraja Timur toll and 15 minutes from the Tangerang District office. APM equestrian lessons or programs provide a range of experiences for those who have never seen a horse to the most experienced riders. In our state of the art equestrian facilities, riders can grow in confidence as they hone their abilities as a rider, learn responsibility as they care for their horse, all the while making new friends.
												</p>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>
<!-- End Work area -->

<!-- Start Counterup Area -->
<div class="brook-counterup-area ptb--60 ptb-md--40 ptb-sm--40 bg_color--5">
		<div class="container">
				<div class="row">
						<div class="col-lg-12">
								<div class="bk-title--default text-center mb--70">
										<h3 class="heading heading-h3">Why to ride at APM Equestrian Club ?</h3>
								</div>
						</div>
						<!-- Start Single Counter -->
						<div class="col-lg-4 col-md-4 col-sm-6 col-12">
								<div class="brook-counter text-center">
										<div class="icon">
											<%= image_tag('icons/emblem-02.png') %>
										</div>
										<div class="content">
												<span>Our Instructors</span>
												<h6 class="heading heading-h6">All the instructors at APM Equestrian Center have many years of experience riding and training horses.</h6>
										</div>
								</div>
						</div>
						<!-- End Single Counter -->
						<!-- Start Single Counter -->
						<div class="col-lg-4 col-md-4 col-sm-6 col-12 mt_mobile--40">
								<div class="brook-counter text-center">
										<div class="icon">
											<%= image_tag('icons/emblem-04.png') %>
										</div>
										<div class="content">
												<span>Our Facilities</span>
												<h6 class="heading heading-h6">Comfort and safety are just a few of the many priorities we have tried to incorporate into our facility and into its day-to-day operations.</h6>
										</div>
								</div>
						</div>
						<!-- End Single Counter -->
						<!-- Start Single Counter -->
						<div class="col-lg-4 col-md-4 col-sm-6 col-12 mt_sm--40">
								<div class="brook-counter text-center">
										<div class="icon">
											<%= image_tag('icons/emblem-03.png') %>
										</div>
										<div class="content">
												<span>Our Horses</span>
												<h6 class="heading heading-h6">Meet our Wonderful Horses and Ponies. We have 45 horses and 11 pones.</h6>
										</div>
								</div>
						</div>
						<!-- End Single Counter -->
				</div>
		</div>
</div>
<!-- End Counterup Area -->

<!-- Start Icon Boxes -->
<div class="brook-icon-boxes-area bg_color--1 pt--100">
	<div class="row">
			<div class="col-lg-6 offset-lg-1 col-12">
					<div class="modern-service">
						<h3 class="heading heading-h3 line-height-1-42 wow move-up">
							Our dedicated instructors have a passion for teaching that will help you in gaining the best experience of horseback riding.
						</h3>
					</div>
			</div>
			<div class="col-lg-4 offset-lg-1 col-md-12 col-12 mt_md--40 mt_sm--40">
					<div class="thumb">
							<%= image_tag('kuda.png') %>
					</div>
			</div>
	</div>
</div>
<!-- End Icon Boxes -->

<!-- Start Testimonial Area -->
<div class="brook-testimonial-area poss_relative wavify-activation ptb--100 ptb-md--80 ptb-sm--60">
		<div class="wavify-wrapper">
				<svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wavify-item"
						data-wavify-height="140" data-wavify-background="rgba(245,245,245,0.5)" data-wavify-amplitude="80"
						data-wavify-bones="4">
						<path d="M 0 141.71042689406383 C 237.875 148.50471572578806 237.875 148.50471572578806 475.75 145.107571309926 C 713.625 141.71042689406383 713.625 141.71042689406383 951.5 165.82491752026056 C 1189.375 189.9394081464571 1189.375 189.9394081464571 1427.25 193.5786122514483 C 1665.125 197.21781635643944 1665.125 197.21781635643944 1903 165.82491752026056 L 1903 7389 L 0 7389 Z"
								fill="rgba(245,245,245,0.5)"></path>
				</svg>

				<svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wavify-item"
						data-wavify-height="140" data-wavify-background="#f5f5f5" data-wavify-amplitude="80"
						data-wavify-bones="3">
						<path d="M 0 147.22020568980648 C 317.16666666666663 183.65559797623268 317.16666666666663 183.65559797623268 634.3333333333333 165.43790183301957 C 951.4999999999999 147.22020568980648 951.4999999999999 147.22020568980648 1268.6666666666665 200.09089320557024 C 1585.833333333333 252.96158072133412 1585.833333333333 252.96158072133412 1903 183.26276877337258 L 1903 7389 L 0 7389 Z"
								fill="#f5f5f5"></path>
				</svg>
		</div>
		<div class="container">
				<div class="row">
						<div class="col-lg-4 col-md-12 col-12 text-center ptb-md--80 ptb-sm--80">
								<div class="brook-section-title text-left title-max-width plr_sm--50">
									<h3 class="heading heading-h3">Meet Our <br/> Instructors.</h3>
									<h6 class="heading heading-h6 theme-color pt--50">Professionalism & Passion For Horses</h6>
									<div class="desc mt--25">
										<p class="bk_pra">
											Each instructor has been chosen for his or her knowledge of horses, ability to interact with people, and awareness of equine safety. They are extremely capable of providing assistance to riders of all experience levels.
										</p>
									</div>
								</div>
						</div>

						<div class="col-lg-8 col-md-12 col-12">
							<div class="row">
								<% @instructors.each do |i| %>
									<!-- Start Single Testimonial -->
									<div class="col-lg-6 col-md-6 col-sm-12 col-12">
										<div class="testimonial testimonial_style--1">
											<div class="content">
												<p class="bk_pra">
													<%= i.profile %>
												</p>
												<div class="testimonial-info">
													<div class="post-thumbnail">
														<%= image_tag(i.image.variant(resize: "60x60").processed) %>
													</div>
													<div class="clint-info">
														<h6><%= i.name %></h6>
														<span><%= i.title %></span>
													</div>
												</div>
												<div class="testimonial-quote">
													<span class="fa fa-award"></span>
												</div>
											</div>
										</div>
									</div>
									<!-- End Single Testimonial -->
								<% end %>
							</div>
						</div>
				</div>
		</div>
</div>
<!-- End Testimonial Area -->

<div class="brook-pricing-table-area ptb--100 ptb-md--60 bg_color--1">
		<div class="container">
				<!-- Start Choose Area -->
				<div class="choose-us-area">
						<div class="row">
								<div class="col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="choose-plan-area">
										<h3 class="heading heading-h3">Membership</h3>
										<div class="desc mt--25">
											<p class="bk_pra">
												Adria Pratama Mulya Riding School programs are provided for all levels of riding from beginner, intermediate and advanced riders. Adult lessons are also available. Students are encouraged to participate in the care and preparation of their horse and will be instructed in the uses of tack and equipment.
											</p>
										</div>
									</div>
								</div>

								<div class="col-lg-8 col-md-6 col-sm-6 col-12 mt_md--40 mt_sm--40">
									<div class="plans-about">
										<h6 class="heading heading-h6 theme-color">Why to Become a Member?</h6>
										<!-- Start Single List -->
										<div class="bk-list--2 mt--25 move-up wow">
											<div class="list-header with-ckeck">
												<div class="marker"></div>
												<div class="title-wrap">
													<h6 class="heading heading-h5">Lesson price is cheaper than non member</h6>
												</div>
											</div>
											<div class="list-header with-ckeck">
												<div class="marker"></div>
												<div class="title-wrap">
													<h6 class="heading heading-h5">10% Discount for food and beverage at “Matt & Jenna Cafe”</h6>
												</div>
											</div>
											<div class="list-header with-ckeck">
												<div class="marker"></div>
												<div class="title-wrap">
													<h6 class="heading heading-h5">Instructor and club horses are priority to member before given to the non member or guest</h6>
												</div>
											</div>
											<div class="list-header with-ckeck">
												<div class="marker"></div>
												<div class="title-wrap">
													<h6 class="heading heading-h5">Free charge for using the club’s arena for small party event</h6>
												</div>
											</div>
											<div class="list-header with-ckeck">
												<div class="marker"></div>
												<div class="title-wrap">
													<h6 class="heading heading-h5">Allowed to hire club’s horses for competition in or outside the club, based on horse availability</h6>
												</div>
											</div>
											<div class="list-header with-ckeck">
												<div class="marker"></div>
												<div class="title-wrap">
													<h6 class="heading heading-h5">Allowed to book or take a lesson with all of club’s instructor included Chief instructor or Ass. Chief Instructor</h6>
												</div>
											</div>
										</div>
										<!-- End Single List -->
									</div>
								</div>
						</div>
				</div>
				<!-- End Choose Area -->
				<div class="row pt--100">

						<!-- Start Single Pricing Table -->
						<div class="col-lg-4 col-md-6 col-sm-12 col-12">
								<div class="procing-wrap pt--40 move-up wow">
										<div class="procing-box">
												<div class="header">
														<div class="price">
																<h3 class="currenct">Rp.</h3>
																<h3 class="heading headin-h3">3.500.000</h3>
														</div>
												</div>
												<div class="content">
														<h5 class="heading heading-h5">JUNIOR</h5>
														<!-- Start Single List -->
														<div class="bk-list--2">
																<div class="list-header with-ckeck item-available">
																	<div class="marker"></div>
																	<div class="title-wrap">
																		<h6 class="heading heading-h5">For 6 Months</h6>
																	</div>
																</div>
																<div class="list-header with-ckeck item-available">
																	<div class="marker"></div>
																	<div class="title-wrap">
																		<h6 class="heading heading-h5">Or Rp. 3.500.000 per year</h6>
																	</div>
																</div>
																<div class="list-header with-ckeck item-available">
																	<div class="marker"></div>
																	<div class="title-wrap">
																		<h6 class="heading heading-h5">Age Under 18 Years Old</h6>
																	</div>
																</div>
														</div>
														<!-- End Single List -->
												</div>
												<div class="footer mt--40">
														<a class="brook-btn bk-btn-dark btn-sd-size btn-rounded" href="#">Become A Member</a>
												</div>
										</div>
								</div>
						</div>
						<!-- End Single Pricing Table -->

						<!-- Start Single Pricing Table -->
						<div class="col-lg-4 col-md-6 col-sm-12 col-12 mt_sm--40">
								<div class="procing-wrap move-up wow" data-wow-delay="0.16s">
										<div class="procing-box active">
												<div class="header">
														<div class="feature-mark">Recommended</div>
														<div class="price">
																<h3 class="currenct">Rp.</h3>
																<h3 class="heading headin-h3">3.350.000</h3>
														</div>
												</div>
												<div class="content">
														<h5 class="heading heading-h5">INDIVIDUAL</h5>
														<!-- Start Single List -->
														<div class="bk-list--2">
															<div class="list-header with-ckeck item-available">
																<div class="marker"></div>
																<div class="title-wrap">
																	<h6 class="heading heading-h5">For 6 Months</h6>
																</div>
															</div>
															<div class="list-header with-ckeck item-available">
																<div class="marker"></div>
																<div class="title-wrap">
																	<h6 class="heading heading-h5">Or Rp. 5.000.000 per year</h6>
																</div>
															</div>
															<div class="list-header with-ckeck item-available">
																<div class="marker"></div>
																<div class="title-wrap">
																	<h6 class="heading heading-h5">Any Individual Above 18 Years Old</h6>
																</div>
															</div>
														</div>
														<!-- End Single List -->
												</div>
												<div class="footer mt--40">
														<a class="brook-btn bk-btn-dark btn-sd-size btn-rounded" href="#">Become A Member</a>
												</div>
										</div>
								</div>
						</div>
						<!-- End Single Pricing Table -->

						<!-- Start Single Pricing Table -->
						<div class="col-lg-4 col-md-6 col-sm-12 col-12">
								<div class="procing-wrap pt--40 move-up wow" data-wow-delay="0.19s">
										<div class="procing-box">
												<div class="header">
														<div class="price">
																<h3 class="currenct">Rp.</h3>
																<h3 class="heading headin-h3">7.000.000</h3>
														</div>
												</div>
												<div class="content">
														<h5 class="heading heading-h5">FAMILY</h5>
														<!-- Start Single List -->
														<div class="bk-list--2">
															<div class="list-header with-ckeck item-available">
																<div class="marker"></div>
																<div class="title-wrap">
																	<h6 class="heading heading-h5">For 6 Months</h6>
																</div>
															</div>
															<div class="list-header with-ckeck item-available">
																<div class="marker"></div>
																<div class="title-wrap">
																	<h6 class="heading heading-h5">Or Rp. 12.000.000 per year</h6>
																</div>
															</div>
															<div class="list-header with-ckeck item-available">
																<div class="marker"></div>
																<div class="title-wrap">
																	<h6 class="heading heading-h5">For 4 (four) person / family</h6>
																</div>
															</div>
														</div>
														<!-- End Single List -->
												</div>

												<div class="footer mt--40">
														<a class="brook-btn bk-btn-dark btn-sd-size btn-rounded" href="#">Become A Member</a>
												</div>
										</div>
								</div>
						</div>
						<!-- End Single Pricing Table -->

				</div>
				<div class="row pt--50">
					<div class="col-lg-8 col-md-6 col-sm-6 col-12 mt_md--40 mt_sm--40">
						<div class="plans-about">
							<h6 class="heading heading-h6 theme-color">Member Discount</h6>
							<!-- Start Single List -->
							<div class="bk-list--2 mt--25 move-up wow">
								<div class="list-header with-ckeck">
									<div class="marker"></div>
									<div class="title-wrap">
										<h6 class="heading heading-h5">10% Non horse owner members can also enjoy the discount after 16x lesson or equal a month</h6>
									</div>
								</div>
								<div class="list-header with-ckeck">
									<div class="marker"></div>
									<div class="title-wrap">
										<h6 class="heading heading-h5">20% for starter kit on Horse and Hound Tack Shop and 10% for other items</h6>
									</div>
								</div>
								<div class="list-header with-ckeck">
									<div class="marker"></div>
									<div class="title-wrap">
										<h6 class="heading heading-h5">20% for renewal membership fee</h6>
									</div>
								</div>
							</div>
							<!-- End Single List -->
						</div>
					</div>
				</div>
		</div>
</div>

