<!-- Start Breadcaump Area -->
<div class="brook-breadcaump-area bg_color--1 ptb--120 breadcaump-title-bar">
		<div class="container-fluid plr--150 plr_md--50 plr_sm--30">
				<div class="row">
						<div class="col-lg-12">
								<div class="breadcaump-inner text-left d-inline-block poss_relative">
									<h1 class="heading heading-h1 large-font-1">
										An Equestrian center <br/>
										and experience always <br/> to remember.
									</h1>
								</div>
						</div>
				</div>
		</div>
</div>
<!-- End Breadcaump Area -->

<!-- Start Gallery Area -->
<div class="brook-gallery-area bg_color--1">
		<div class="container-fluid plr--100 plr_sm--50">
				<div class="row">
						<div class="col-lg-12">
								<div class="gallery-wrapper gallery-grid" id="animated-thumbnials">

										<!-- Start Single Gallery -->
										<a class="gallery grid-width-2 " href="<%= image_url('about1.png') %>">
												<div class="thumb">
														<%= image_tag('about1.png') %>
												</div>
												<div class="hover-overlay">
														<div class="inner">
																<span class="ion ion-android-add"></span>
														</div>
												</div>
										</a>
										<!-- End Single Gallery -->

										<!-- Start Single Gallery -->
										<a class="gallery" href="<%= image_url('about2.png') %>">
												<div class="thumb">
														<%= image_tag('about2.png') %>
												</div>
												<div class="hover-overlay">
														<div class="inner">
																<span class="ion ion-android-add"></span>
														</div>
												</div>
										</a>
										<!-- End Single Gallery -->

										<!-- Start Single Gallery -->
										<a class="gallery" href="<%= image_url('about3.png') %>">
												<div class="thumb">
														<%= image_tag('about3.png') %>
												</div>
												<div class="hover-overlay">
														<div class="inner">
																<span class="ion ion-android-add"></span>
														</div>
												</div>
										</a>
										<!-- End Single Gallery -->

										<!-- Start Single Gallery -->
										<a class="gallery grid-width-2" href="<%= image_url('about4.png') %>">
												<div class="thumb">
														<%= image_tag('about4.png') %>
												</div>
												<div class="hover-overlay">
														<div class="inner">
																<span class="ion ion-android-add"></span>
														</div>
												</div>
										</a>
										<!-- End Single Gallery -->

								</div>
						</div>
				</div>
		</div>
</div>
<!-- End Gallery Area -->

<!-- Start Work area -->
<div class="brook-whatdo-area ptb--100 ptb-md--80 ptb-sm--60 bg_color--1">
		<div class="container">
				<div class="row">
						<div class="col-lg-12">
								<div class="bk-title--default text-left">
										<h5 class="heading heading-h5 theme-color">About Us</h5>
										<div class="bkseparator--30"></div>
										<h3 class="heading heading-h3">APM Equestrian Center</h3>
								</div>
						</div>
				</div>
				<div class="row mt--40 mt_md--20 mt_sm--5">
						<div class="col-xl-2 col-lg-2">
								<div class="what-do mt--40 mt_md--5 mt_sm--5">
										<div class="basic-separator line-3"></div>
								</div>
						</div>
						<div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
								<div class="what-do mt--40">
										<div class="content">
												<h5 class="heading heading-h5 theme-color wow move-up">Location</h5>
												<div class="bkseparator--20"></div>
												<p class="bk_pra wow move-up">
													APM Equestrian Center is located in Tigaraksa, Tangerang-Banten, about 27 kilometers from Balaraja Timur toll and 15 minutes from the Tangerang District office. APM equestrian lessons or programs provide a range of experiences for those who have never seen a horse to the most experienced riders. In our state of the art equestrian facilities, riders can grow in confidence as they hone their abilities as a rider, learn responsibility as they care for their horse, all the while making new friends.
												</p>
										</div>
								</div>
						</div>
						<div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 offset-xl-1">
								<div class="what-do mt--40">
										<div class="content">
												<h5 class="heading heading-h5 theme-color wow move-up">Facilities</h5>
												<div class="bkseparator--20"></div>
												<p class="bk_pra wow move-up">
													Our facility provides a quiet atmosphere for riders and horses to learn and train together. It is home for horse enthusiasts where training is customized to meet your individual needs and goals. We offer full board services, horse and rider training, and breeding.
												</p>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>
<!-- End Work area -->

<!-- Start Counterup Area -->
<div class="brook-counterup-area ptb--60 ptb-md--40 ptb-sm--40 bg_color--5">
		<div class="container">
				<div class="row">
						<div class="col-lg-12">
								<div class="bk-title--default text-center mb--70">
										<h3 class="heading heading-h3">Why to ride at APM Equestrian Club ?</h3>
								</div>
						</div>
						<!-- Start Single Counter -->
						<div class="col-lg-4 col-md-4 col-sm-6 col-12">
								<div class="brook-counter text-center">
										<div class="icon">
											<%= image_tag('icons/emblem-02.png') %>
										</div>
										<div class="content">
												<span>Our Instructors</span>
												<h6 class="heading heading-h6">All the instructors at APM Equestrian Center have many years of experience riding and training horses.</h6>
										</div>
								</div>
						</div>
						<!-- End Single Counter -->
						<!-- Start Single Counter -->
						<div class="col-lg-4 col-md-4 col-sm-6 col-12 mt_mobile--40">
								<div class="brook-counter text-center">
										<div class="icon">
											<%= image_tag('icons/emblem-04.png') %>
										</div>
										<div class="content">
												<span>Our Facilities</span>
												<h6 class="heading heading-h6">Comfort and safety are just a few of the many priorities we have tried to incorporate into our facility and into its day-to-day operations.</h6>
										</div>
								</div>
						</div>
						<!-- End Single Counter -->
						<!-- Start Single Counter -->
						<div class="col-lg-4 col-md-4 col-sm-6 col-12 mt_sm--40">
								<div class="brook-counter text-center">
										<div class="icon">
											<%= image_tag('icons/emblem-03.png') %>
										</div>
										<div class="content">
												<span>Our Horses</span>
												<h6 class="heading heading-h6">Meet our Wonderful Horses and Ponies. We have 45 horses and 11 pones.</h6>
										</div>
								</div>
						</div>
						<!-- End Single Counter -->
				</div>
		</div>
</div>
<!-- End Counterup Area -->

<!-- Start Icon Boxes -->
<div class="brook-icon-boxes-area bg_color--1 pt--100">
	<div class="row">
			<div class="col-lg-6 offset-lg-1 col-12">
					<div class="modern-service">
						<h3 class="heading heading-h3 line-height-1-42 wow move-up">
							Our dedicated instructors have a passion for teaching that will help you in gaining the best experience of horseback riding.
						</h3>
					</div>
			</div>
			<div class="col-lg-4 offset-lg-1 col-md-12 col-12 mt_md--40 mt_sm--40">
					<div class="thumb">
							<%= image_tag('kuda.png') %>
					</div>
			</div>
	</div>
</div>
<!-- End Icon Boxes -->

<!-- Start Testimonial Area -->
<div class="brook-testimonial-area poss_relative wavify-activation ptb--100 ptb-md--80 ptb-sm--60">
		<div class="wavify-wrapper">
				<svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wavify-item"
						data-wavify-height="140" data-wavify-background="rgba(245,245,245,0.5)" data-wavify-amplitude="80"
						data-wavify-bones="4">
						<path d="M 0 141.71042689406383 C 237.875 148.50471572578806 237.875 148.50471572578806 475.75 145.107571309926 C 713.625 141.71042689406383 713.625 141.71042689406383 951.5 165.82491752026056 C 1189.375 189.9394081464571 1189.375 189.9394081464571 1427.25 193.5786122514483 C 1665.125 197.21781635643944 1665.125 197.21781635643944 1903 165.82491752026056 L 1903 7389 L 0 7389 Z"
								fill="rgba(245,245,245,0.5)"></path>
				</svg>

				<svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wavify-item"
						data-wavify-height="140" data-wavify-background="#f5f5f5" data-wavify-amplitude="80"
						data-wavify-bones="3">
						<path d="M 0 147.22020568980648 C 317.16666666666663 183.65559797623268 317.16666666666663 183.65559797623268 634.3333333333333 165.43790183301957 C 951.4999999999999 147.22020568980648 951.4999999999999 147.22020568980648 1268.6666666666665 200.09089320557024 C 1585.833333333333 252.96158072133412 1585.833333333333 252.96158072133412 1903 183.26276877337258 L 1903 7389 L 0 7389 Z"
								fill="#f5f5f5"></path>
				</svg>
		</div>
		<div class="container">
				<div class="row">
						<div class="col-lg-4 col-md-12 col-12 text-center ptb-md--80 ptb-sm--80">
								<div class="brook-section-title text-left title-max-width plr_sm--50">
									<h3 class="heading heading-h3">Meet Our <br/> Instructors.</h3>
								</div>
						</div>

						<div class="col-lg-8 col-md-12 col-12">
								<div class="row">
										<!-- Start Single Testimonial -->
										<div class="col-lg-6 col-md-6 col-sm-12 col-12">
											<%= image_tag('news/news1.png') %>
										</div>
										<!-- End Single Testimonial -->

										<!-- Start Single Testimonial -->
										<div class="col-lg-6 col-md-6 col-sm-12 col-12 mt_sm--30">
											<%= image_tag('news/news5.png') %>
										</div>
										<!-- End Single Testimonial -->

										<!-- Start Single Testimonial -->
										<div class="col-lg-6 col-md-6 col-sm-12 col-12 mt--30">
											<%= image_tag('news/news6.png') %>
										</div>
										<!-- End Single Testimonial -->

										<!-- Start Single Testimonial -->
										<div class="col-lg-6 col-md-6 col-sm-12 col-12 mt--30">
											<%= image_tag('news/news8.png') %>
										</div>
										<!-- End Single Testimonial -->
								</div>
						</div>
				</div>
		</div>
</div>
<!-- End Testimonial Area -->

<div class="brook-pricing-table-area ptb--100 ptb-md--60 bg_color--1">
		<div class="container">
				<!-- Start Choose Area -->
				<div class="choose-us-area">
						<div class="row">

								<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="choose-plan-area">
												<h3 class="heading heading-h3">Our Instructors</h3>
												<div class="desc mt--25">
													<p class="bk_pra">
														Adria Pratama Mulya Riding School programs are provided for all levels of riding from beginner, intermediate and advanced riders. Adult lessons are also available. Students are encouraged to participate in the care and preparation of their horse and will be instructed in the uses of tack and equipment.
													</p>
												</div>
										</div>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-6 col-12 mt_mobile--40">
										<div class="plans-about">
												<h6 class="heading heading-h6 theme-color">APM Equestrian Center, established in 2008</h6>
												<div class="desc mt--25">
													<p class="bk_pra">
														The experienced coaches and instructors at APM Equestrian Center  provide lessons according to the ability of the rider. With the focus on safety and quality, we teach the disciplines of jumping and dressage to all levels, from the first time beginner to the advanced show rider. Our lessons are available seven days a week, all year long and are offered as groups, or in private. Groups are kept small to ensure that the instructor has adequate time for each student. Riders must be 5 years or older. Opening hours are 7 am until 17.30 pm weekdays and 7 am until 11.30 pm on weekends. Riding lessons are not available on public holidays.
													</p>
												</div>
										</div>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-6 col-12 mt_mobile--40">
										<div class="plans-about">
												<h6 class="heading heading-h6 theme-color">Professionalism & Passion For Horses</h6>
												<div class="desc mt--25">
													<p class="bk_pra">
														Each instructor has been chosen for his or her knowledge of horses, ability to interact with people, and awareness of equine safety. They are extremely capable of providing assistance to riders of all experience levels.
													</p>
												</div>
										</div>
								</div>

						</div>
				</div>
				<!-- End Choose Area -->
		</div>
</div>

