<%= simple_form_for [:admins, @horse], :html => { :class => 'form-horizontal' } do |f| %>
	<%= f.error_notification %>
	<div class="form-body">
		<%= f.input :images, as: :file, input_html: { multiple: true } %>
		<%= f.input :name %>
		<%= f.association :category %>
		<%= f.input :breed %>
		<%= f.input :description, as: :text, input_html: { rows: "20" } %>
		<%= f.input :sex %>
		<%= f.input :year %>
		<%= f.input :color %>
		<%= f.input :disciplines %>
		<%= f.input :height %>
		<div class="form-actions">
			<div class="row">
				<div class="offset-md-3 col-md-9">
					<%= f.button :submit, :class => 'btn btn-primary' %>
					<% unless @horse.new_record? %>
					<%= link_to "Cancel", admins_horse_path(@horse), :class => 'btn' %>
					<% else %>
					<%= link_to "Cancel", admins_horses_path, :class => 'btn' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>
