<div class="page-bar">
	<div class="page-title-breadcrumb">
		<div class=" pull-left">
			<div class="page-title">Article details</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="card card-box">
			<div class="card-body ">
				<div class="form-horizontal">
					<div class="form-body">
						<div class="form-group row">
							<label class="control-label col-md-3">ID</label>
							<div class="col-md-5">
								<%= @article.id %>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-md-3">Image</label>
							<div class="col-md-5">
								<%= image_tag @article.image.variant(resize: "379x252").processed %>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-md-3">Title</label>
							<div class="col-md-5">
								<%= @article.title %>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-md-3">Description</label>
							<div class="col-md-5">
								<%= raw @article.description %>
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="offset-md-3 col-md-9">
									<%= link_to 'Edit', edit_admins_article_path(@article), :class => 'btn btn-warning' %>
									<%= link_to 'Destroy', admins_article_path(@article), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger' %>
									<%= link_to 'View All', admins_articles_path, :class => 'btn' %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
