<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= content_for?(:title) ? "#{configatron.site_name} - #{yield(:title)}" : configatron.site_name %></title>
	<!-- fevicon -->
	<link rel="shortcut icon" type="image/png" href="<%= image_url('favicon.png') %>">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">

	<%= stylesheet_link_tag :login %>
	<%= csrf_meta_tag %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= yield :head %>
</head>
<body>
	<div class="limiter">
		<div class="container-login100 page-background">
			<div class="wrap-login100">
				<%= flash_message %>
				<%= yield %>
			</div>
		</div>
	</div>
	<%= javascript_include_tag :login %>
	<%= yield :tail %>
</body>
</html>
